@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.d-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-group {
    @extend .d-flex;
    > * {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.wrapper {
    >* {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}